html {
   background-color: red;
   height: 100%;
   width: 100%;
   body {
      background-color: gray;
      text-align: center;
      height: 100%;
      width: 100%;
      margin-top: -.1vh;
      margin-left: -1vh;
      iframe {
         height: 80vh;
         width: 75vw;
         margin-top: 10vh;
         background-color: red;
      }
   }
}
