@media only screen and (max-width: 480px) {
   html {
      background-color: black;
      height: 100%;
      width: 100%;
      overflow: hidden;
      body {
         background-color: black;
         height: 100%;
         width: 100.5%;
         margin-top: -0.1vh;
         margin-left: -1vh;
         iframe {
            height: 50vh;
            width: 80vw;
            position: absolute;
            top: 25vh;
            left: 25vw;
            background-color: gray;
            border: 2px solid white;
         }
         .home {
            color: black;
            position: absolute;
            top: 75vh;
            left: 9.8%;
            background: white;
            height: 3vh;
            width: fit-content;
            padding-right: 5px;
            padding-left: 5px;
            text-decoration: none;
         }
      }
   }
}

@media only screen and (min-width: 481px) {
   html {
      background-color: black;
      height: 100%;
      width: 100%;
      overflow: hidden;
      body {
         background-color: black;
         height: 100%;
         width: 100.5%;
         margin-top: -0.1vh;
         margin-left: -1vh;
         iframe {
            height: 50vh;
            width: 80vw;
            position: absolute;
            top: 10vh;
            left: 10vw;
            background-color: gray;
            border: 2px solid white;
         }
         .home {
            color: black;
            position: absolute;
            top: 70%;
            left: 9.8%;
            background: white;
            height: 3.5vh;
            width: fit-content;
            padding-right: 5px;
            padding-left: 5px;
            text-decoration: none;
         }
      }
   }
}

@media only screen and (min-width: 769px) {
   html {
      overflow: hidden;
      background-color: black;
      height: 100%;
      width: 100%;
      body {
         background-color: black;
         text-align: center;
         height: 100%;
         width: 100.5%;
         margin-top: -0.1vh;
         margin-left: -1vh;
         iframe {
            height: 90vh;
            width: 95vw;
            position: absolute;
            top: 3vh;
            left: 2.5vw;
            background-color: gray;
            border: 2px solid white;
            overflow: hidden;
         }
         .home {
            color: black;
            position: absolute;
            top: 93.5%;
            left: 2.5%;
            background: white;
            height: 3vh;
            width: 10vw;
            padding-right: 5px;
            padding-left: 5px;
            text-decoration: none;
         }
      }
   }
}

@media only screen and (min-width: 1024px) {
   html {
      overflow: hidden;
      background-color: black;
      height: 100%;
      width: 100%;
      body {
         background-color: black;
         text-align: center;
         height: 100%;
         width: 100.5%;
         margin-top: -0.1vh;
         margin-left: -1vh;
         iframe {
            height: 90vh;
            width: 95vw;
            position: absolute;
            top: 2.5vh;
            left: 2.5vw;
            border: 2px solid white;
            overflow: hidden;
         }
         .home {
            color: black;
            position: absolute;
            top: 93%;
            left: 2.5%;
            background: white;
            height: 3vh;
            width: 10vw;
            padding-right: 5px;
            padding-left: 5px;
            text-decoration: none;
         }
      }
   }
}

@media only screen and (min-width: 1200px) {
   html {
      overflow: hidden;
      background-color: black;
      height: 100%;
      width: 100%;
      body {
         background-color: black;
         text-align: center;
         height: 100%;
         width: 100.5%;
         margin-top: -0.1vh;
         margin-left: -1vh;
         iframe {
            height: 90vh;
            width: 95vw;
            position: absolute;
            top: 2.5vh;
            left: 2.5vw;
            border: 2px solid white;
            overflow: hidden;
         }
         .home {
            color: black;
            position: absolute;
            top: 93%;
            left: 2.5%;
            background: white;
            height: 3vh;
            width: 10vw;
            padding-right: 5px;
            padding-left: 5px;
            text-decoration: none;
         }
      }
   }
}
