Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@THOMAS-DYLAN 
THOMAS-DYLAN
/
Cotton-Lane-Baptist
Public
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Cotton-Lane-Baptist
/
broadcast.css
in
main
 

Spaces

2

No wrap
1
@media only screen and (max-width: 480px) {
2
  html {
3
    background-color: black;
4
    height: 100%;
5
    width: 100%;
6
    overflow: hidden;
7
  }
8
  html body {
9
    background-color: black;
10
    height: 100%;
11
    width: 100.5%;
12
    margin-top: -0.1vh;
13
    margin-left: -1vh;
14
  }
15
  html body iframe {
16
    height: 50vh;
17
    width: 80vw;
18
    position: absolute;
19
    bottom: 24vh;
20
    left: 10vw;
21
    background-color: gray;
22
    border: 2px solid white;
23
  }
24
  html body .home {
25
    color: black;
26
    position: absolute;
27
    bottom: 24vh;
28
    left: 10.2%;
29
    background: white;
30
    height: 3vh;
31
    width: fit-content;
32
    padding-right: 5px;
33
    padding-left: 5px;
34
    text-decoration: none;
35
  }
36
}
37
@media only screen and (min-width: 481px) {
38
  html {
39
    background-color: black;
40
    height: 100%;
41
    width: 100%;
42
    overflow: hidden;
43
  }
44
  html body {
45
    background-color: black;
@THOMAS-DYLAN
Commit changes
Commit summary
Create broadcast.css
Optional extended description
Add an optional extended description…
 Commit directly to the main branch.
 Create a new branch for this commit and start a pull request. Learn more about pull requests.
 
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
