@media only screen and (max-width: 480px) {
  html {
    background-color: black;
  }
  body {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: hidden; /* Firefox 64 */
    width: 101%;
    position: absolute;
    left: -1vw;
    top: -1vw;
    background: url("./imgs/cross.jfif");
    background-repeat: no-repeat;
    background-size: cover;
  }
  body nav {
    display: inline-flex;
    width: 101vw;
    height: 10vh;
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    z-index: 5;
  }
  body nav h2 {
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 20px;
    position: absolute;
    left: 5%;
  }
  body nav .expand {
    display: default;
    color: black;
    font-size: 40px;
    position: absolute;
    right: 5%;
    top: 8%;
  }
  body nav .expand:hover {
    cursor: pointer;
  }
  body nav ul {
    visibility: hidden;
    width: 50%;
    display: inline-flex;
    list-style: none;
    margin-left: -7%;
    font-size: 15px;
  }
  body nav ul a {
    color: black;
    text-decoration: none;
  }
  body nav ul a li {
    margin-top: 3px;
    font-size: 15px;
    margin-left: 5%;
    color: black;
  }
  body .welcome {
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    text-align: center;
  }
  body .welcome .welcomeheader {
    color: white;
    margin-top: -50vh;
    font-size: 45px;
    position: relative;
  }
  body .welcome .nameheader {
    color: rgb(240, 240, 240);
    font-size: 30px;
    margin-top: 28vh;
    position: relative;
  }
  body .welcome img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  body .mainservices {
    background: white;
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body .mainservices h3 {
    font-size: 30px;
    margin-left: 12px;
    margin-top: 8px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
  }
  body .mainservices .sundayschool {
    margin-top: -12.5%;
    width: 50%;
  }
  body .mainservices .sundayschool h2 {
    font-size: 20px;
    margin-left: 15px;
  }
  body .mainservices .sundayschool .time {
    font-size: 15px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .secondservice {
    margin-top: -12.5%;
    width: 50%;
  }
  body .mainservices .secondservice h2 {
    font-size: 20px;
    margin-left: 15px;
  }
  body .mainservices .secondservice .time {
    font-size: 15px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event1 {
    margin-top: -3.5%;
    width: 50%;
  }
  body .mainservices .event1 h2 {
    font-size: 20px;
    margin-left: 15px;
  }
  body .mainservices .event1 .time {
    font-size: 15px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event2 {
    margin-top: -3.5%;
    width: 50%;
  }
  body .mainservices .event2 h2 {
    font-size: 20px;
    margin-left: 15px;
  }
  body .mainservices .event2 .time {
    font-size: 15px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .youngadults {
    height: 40vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .youngadults img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .youngadults h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 29%;
  }
  body .youngadults .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 42%;
    color: white;
  }
  body .men {
    height: 40vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .men img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .men h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 29%;
  }
  body .men .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 42%;
    color: rgb(236, 225, 225);
  }
  body .woman {
    height: 40vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .woman img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .woman h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 29%;
  }
  body .woman .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 42%;
    color: rgb(236, 225, 225);
  }
  body .seniors {
    height: 40vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .seniors img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .seniors h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 29%;
  }
  body .seniors .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 42%;
    color: rgb(236, 225, 225);
  }
  body footer {
    width: 100vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 5vh;
    background-color: black;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    scrollbar-width: none; /* Firefox */
  }
}
@media only screen and (min-width: 481px) {
  html {
    background-color: black;
  }
  body {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: hidden; /* Firefox 64 */
    width: 101%;
    position: absolute;
    left: -1vw;
    top: -4vw;
    background: url("./imgs/cross.jfif");
    background-repeat: no-repeat;
    background-size: cover;
  }
  body nav {
    display: inline-flex;
    width: 101vw;
    height: 10vh;
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 5;
  }
  body nav .expand {
    color: black;
    font-size: 40px;
    position: absolute;
    right: 5%;
    top: 8%;
  }
  body nav .expand:hover {
    cursor: pointer;
  }
  body nav h2 {
    display: inline-flex;
    position: absolute;
    left: 5%;
    top: -10%;
  }
  body nav ul {
    visibility: hidden;
    width: 50%;
    display: inline-flex;
    list-style: none;
    margin-top: -3%;
    margin-left: -6%;
  }
  body nav ul a {
    color: black;
    text-decoration: none;
  }
  body nav ul a li {
    margin-left: 7%;
    margin-top: 5px;
    font-size: 15px;
    color: black;
  }
  body .welcome {
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    text-align: center;
    border-radius: 17px;
    border: 2px solid rgba(245, 245, 245, 0.3);
  }
  body .welcome .welcomeheader {
    color: white;
    margin-top: -50vh;
    font-size: 45px;
    position: relative;
  }
  body .welcome .nameheader {
    color: rgb(240, 240, 240);
    font-size: 30px;
    margin-top: 28vh;
    position: relative;
  }
  body .welcome img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  body .mainservices {
    background: white;
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body .mainservices h3 {
    font-size: 35px;
    margin-left: 12px;
    margin-top: 8px;
    width: 90%;
    font-family: "Times New Roman", Times, serif;
  }
  body .mainservices .sundayschool {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .sundayschool h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .sundayschool .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .secondservice {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .secondservice h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .secondservice .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event1 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event1 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event1 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event2 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event2 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event2 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .youngadults {
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .youngadults img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .youngadults h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 36%;
  }
  body .youngadults .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 47%;
    color: rgb(236, 225, 225);
  }
  body .men {
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .men img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .men h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 37%;
  }
  body .men .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 47%;
    color: rgb(236, 225, 225);
  }
  body .woman {
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .woman img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .woman h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 37%;
  }
  body .woman .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 47%;
    color: rgb(236, 225, 225);
  }
  body .seniors {
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .seniors img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .seniors h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 37%;
  }
  body .seniors .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 47%;
    color: rgb(236, 225, 225);
  }
  body footer {
    width: 100vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 5vh;
    background-color: black;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    scrollbar-width: none; /* Firefox */
  }
}
@media only screen and (min-width: 769px) {
  html {
    background-color: black;
  }
  body {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: hidden; /* Firefox 64 */
    width: 101%;
    position: absolute;
    left: -1vw;
    top: -1vw;
    background: url("./imgs/cross.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body nav {
    display: inline-flex;
    width: 101vw;
    height: 10%;
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }
  body nav .expand {
    display: none;
  }
  body nav h2 {
    width: 50%;
    display: inline-flex;
    position: absolute;
    left: 1%;
    top: -28%;
  }
  body nav ul {
    width: 50%;
    display: inline-flex;
    visibility: visible;
    list-style: none;
    margin-top: 1%;
    position: relative;
    right: -37%;
  }
  body nav ul a {
    color: black;
    text-decoration: none;
  }
  body nav ul a li {
    width: 88px;
    color: black;
    margin-left: 5px;
  }
  body nav ul a li#wom {
    width: 108px;
  }
  body nav ul a li#sen {
    width: 100px;
  }
  body .welcome {
    height: 60vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    text-align: center;
  }
  body .welcome .welcomeheader {
    color: white;
    margin-top: -50vh;
    font-size: 50px;
    position: relative;
  }
  body .welcome .nameheader {
    color: rgb(240, 240, 240);
    font-size: 50px;
    margin-top: 27vh;
    position: relative;
  }
  body .welcome img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  body .mainservices {
    background: white;
    height: 50vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body .mainservices h3 {
    font-size: 45px;
    margin-left: 12px;
    margin-top: 8px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
  }
  body .mainservices .sundayschool {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .sundayschool h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .sundayschool .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .secondservice {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .secondservice h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .secondservice .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event1 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event1 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event1 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event2 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event2 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event2 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .youngadults {
    height: 50vh;
    width: 44vw;
    margin-left: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .youngadults img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .youngadults h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 43%;
  }
  body .youngadults .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 53%;
    color: rgb(236, 225, 225);
  }
  body .men {
    height: 50vh;
    width: 44vw;
    margin-left: -3vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .men img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .men h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 43%;
  }
  body .men .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 53%;
    color: rgb(236, 225, 225);
  }
  body .woman {
    height: 50vh;
    width: 44vw;
    margin-left: 5vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .woman img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .woman h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 43%;
  }
  body .woman .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 53%;
    color: rgb(236, 225, 225);
  }
  body .seniors {
    height: 50vh;
    width: 44vw;
    margin-left: -3vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .seniors img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .seniors h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 43%;
  }
  body .seniors .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 53%;
    color: rgb(236, 225, 225);
  }
  body footer {
    width: 100vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 5vh;
    background-color: black;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    scrollbar-width: none; /* Firefox */
  }
}
@media only screen and (min-width: 1024px) {
  html {
    background-color: black;
  }
  body {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: hidden; /* Firefox 64 */
    width: 101%;
    position: absolute;
    left: -1vw;
    top: -1vw;
    background: lightgray;
    background: url("./imgs/cross.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body nav {
    display: inline-flex;
    width: 101vw;
    height: 10%;
    position: sticky;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }
  body nav .expand {
    display: none;
  }
  body nav h2 {
    width: 50%;
    display: inline-flex;
    padding-right: 18%;
    position: absolute;
    left: 1%;
  }
  body nav ul {
    width: 50%;
    display: inline-flex;
    visibility: visible;
    list-style: none;
    margin-top: 1%;
    position: absolute;
    left: 30%;
  }
  body nav ul a {
    color: black;
    text-decoration: none;
  }
  body nav ul a li {
    margin-left: 20px;
    color: black;
  }
  body .welcome {
    height: 90vh;
    width: 98vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-top: 2vh;
    text-align: center;
  }
  body .welcome .welcomeheader {
    color: white;
    margin-top: -65vh;
    font-size: 75px;
    position: relative;
  }
  body .welcome .nameheader {
    color: rgb(240, 240, 240);
    font-size: 70px;
    margin-top: 25vh;
    position: relative;
  }
  body .welcome img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  body .mainservices {
    background: white;
    width: 45vw;
    height: 25vw;
    margin-left: 1.5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body .mainservices h3 {
    font-size: 45px;
    margin-left: 12px;
    margin-top: 8px;
    width: 70%;
    font-family: "Times New Roman", Times, serif;
  }
  body .mainservices .sundayschool {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .sundayschool h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .sundayschool .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .secondservice {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .secondservice h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .secondservice .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event1 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event1 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event1 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event2 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event2 h2 {
    font-size: 25px;
    margin-left: 15px;
  }
  body .mainservices .event2 .time {
    font-size: 20px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .youngadults {
    width: 51vw;
    height: 27vw;
    margin-left: 2vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .youngadults img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .youngadults h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 43%;
  }
  body .youngadults .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 53%;
    color: rgb(236, 225, 225);
  }
  body .men {
    width: 47vw;
    height: 35vw;
    margin-left: 1.2vw;
    margin-top: -2vh;
    border-radius: 20px;
  }
  body .men img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .men h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 30%;
  }
  body .men .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 40%;
    color: rgb(236, 225, 225);
  }
  body .woman {
    width: 50.5vw;
    height: 33.5vw;
    margin-left: 1vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .woman img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .woman h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 33%;
  }
  body .woman .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 43%;
    color: rgb(236, 225, 225);
  }
  body footer {
    width: 100vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 5vh;
    background-color: black;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    scrollbar-width: none; /* Firefox */
  }
}
@media only screen and (min-width: 1200px) {
  html {
    background-color: black;
  }
  body {
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: hidden; /* Firefox 64 */
    width: 102%;
    position: absolute;
    left: -1vw;
    top: -1vw;
    background: lightgray;
    background: url("./imgs/cross.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body nav {
    display: inline-flex;
    width: 102vw;
    height: 10vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 2000;
  }
  body nav .expand {
    display: none;
  }
  body nav h2 {
    width: 50%;
    display: inline-flex;
    margin-left: 2%;
    margin-top: 5vh;
    padding-right: 18%;
    position: absolute;
    left: 1%;
  }
  body nav ul {
    width: 50%;
    display: inline-flex;
    visibility: visible;
    list-style: none;
    margin-top: 3vh;
    margin-left: 20%;
  }
  body nav ul a {
    color: black;
    text-decoration: none;
  }
  body nav ul a li {
    margin-left: 18px;
    color: black;
  }
  body .welcome {
    height: 90vh;
    width: 98vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-top: 11vh;
    text-align: center;
  }
  body .welcome .welcomeheader {
    color: white;
    margin-top: -65vh;
    font-size: 75px;
    position: relative;
  }
  body .welcome .nameheader {
    color: rgb(240, 240, 240);
    font-size: 70px;
    margin-top: 25vh;
    position: relative;
  }
  body .welcome img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
  body .mainservices {
    background: white;
    width: 47.5vw;
    height: 30vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
  }
  body .mainservices h3 {
    font-size: 45px;
    margin-left: 12px;
    margin-top: 8px;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
  }
  body .mainservices .sundayschool {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .sundayschool h2 {
    font-size: 30px;
    margin-left: 15px;
  }
  body .mainservices .sundayschool .time {
    font-size: 25px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .secondservice {
    margin-top: -10.5%;
    width: 50%;
  }
  body .mainservices .secondservice h2 {
    font-size: 30px;
    margin-left: 15px;
  }
  body .mainservices .secondservice .time {
    font-size: 25px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event1 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event1 h2 {
    font-size: 30px;
    margin-left: 15px;
  }
  body .mainservices .event1 .time {
    font-size: 25px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .mainservices .event2 {
    margin-top: -5.5%;
    width: 50%;
  }
  body .mainservices .event2 h2 {
    font-size: 30px;
    margin-left: 15px;
  }
  body .mainservices .event2 .time {
    font-size: 25px;
    font-weight: 100;
    margin-top: -12px;
    margin-left: 19px;
  }
  body .youngadults {
    width: 47.5vw;
    height: 30vw;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .youngadults img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .youngadults h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 28%;
  }
  body .youngadults .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 37%;
    color: rgb(236, 225, 225);
  }
  body .men {
    width: 47.5vw;
    height: 27vw;
    margin-left: 1.5vw;
    margin-right: 2vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .men img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .men h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 31%;
  }
  body .men .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 41%;
    color: rgb(236, 225, 225);
  }
  body .woman {
    width: 47.5vw;
    height: 27vw;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .woman img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .woman h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 31%;
  }
  body .woman .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 41%;
    color: rgb(225, 225, 225);
  }
  body .seniors {
    width: 98vw;
    height: 30vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    margin-top: 1vh;
    border-radius: 20px;
  }
  body .seniors img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  body .seniors h2 {
    font-size: 35px;
    margin-left: 5px;
    color: white;
    position: relative;
    bottom: 27%;
  }
  body .seniors .time {
    font-size: 25px;
    font-weight: 100;
    margin-left: 9px;
    position: relative;
    bottom: 37%;
    color: rgb(236, 225, 225);
  }
  body footer {
    width: 100vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 5vh;
    background-color: black;
    color: white;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    scrollbar-width: none; /* Firefox */
  }
}/*# sourceMappingURL=style.css.map */
