@media only screen and (max-width: 480px) {
   html {
      background-color: black;
   }

   body {
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: hidden; /* Firefox 64 */
      width: 101%;
      position: absolute;
      left: -1vw;
      top: -1vw;
      background: url("./imgs/cross.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      nav {
         display: inline-flex;
         width: 101.5vw;
         height: 10vh;
         position: sticky;
         left: 0;
         top: 0;
         background-color: rgba(255, 255, 255, 0.4);
         border: none;
         justify-content: space-evenly;
         z-index: 5;
         h2 {
            display: inline-flex;
            flex-wrap: nowrap;
            font-size: 20px;
            margin-top: 2.5%;
            position: absolute;
            left: 5%;
         }
         .expand {
            display: default;
            color: black;
            font-size: 30px;
            margin-top: -1%;
            position: absolute;
            right: 5%;
            &:hover {
               cursor: pointer;
            }
         }
         ul {
            visibility: hidden;
            list-style: none;
            margin-top: 30.3vh;
            width: 101vw;
            display: inline;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.4);
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            a {
               color: black;
               text-decoration: none;
               li {
                  margin-top: 3px;
                  font-size: 15px;
                  margin-left: -1%;
                  color: black;
               }
            }
         }
      }
      .welcome {
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 2vh;
         text-align: center;
         .welcomeheader {
            color: white;
            margin-top: -40vh;
            font-size: 45px;
            position: relative;
         }
         .nameheader {
            color: rgb(240, 240, 240);
            font-size: 24px;
            margin-top: 23vh;
            position: relative;
         }
         img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
         }
      }
      .mainservices {
         background: white;
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         display: inline-flex;
         flex-wrap: wrap;
         h3 {
            font-size: 30px;
            margin-left: 12px;
            margin-top: 8px;
            width: 100%;
            font-family: "Times New Roman", Times, serif;
         }
         .sundayschool {
            margin-top: -10.5%;
            width: 50%;
            h2 {
               font-size: 20px;
               margin-left: 15px;
            }
            .time {
               font-size: 15px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .secondservice {
            margin-top: -10.5%;
            width: 50%;
            h2 {
               font-size: 20px;
               margin-left: 15px;
            }
            .time {
               font-size: 15px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event1 {
            margin-top: -3.5%;
            width: 50%;
            h2 {
               font-size: 20px;
               margin-left: 15px;
            }
            .time {
               font-size: 15px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event2 {
            margin-top: -3.5%;
            width: 50%;
            h2 {
               font-size: 20px;
               margin-left: 15px;
            }
            .time {
               font-size: 15px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
      }
      .youngadults {
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 26%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 35%;
            color: yellow;
         }
      }
      .men {
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 26%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 35%;
            color: yellow;
         }
      }
      .woman {
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 26%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 35%;
            color: yellow;
         }
      }
      .seniors {
         height: 40vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 26%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 35%;
            color: yellow;
         }
      }
      footer {
         width: 100vw;
         height: 15vh;
         margin-left: 1vw;
         margin-top: 5vh;
         background-color: black;
         color: white;
      }
   }

   body::-webkit-scrollbar {
      display: none;
   }
   body {
      scrollbar-width: none; /* Firefox */
   }
}

@media only screen and (min-width: 481px) {
   html {
      background-color: black;
   }

   body {
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: hidden; /* Firefox 64 */
      width: 101%;
      position: absolute;
      left: -1vw;
      top: -4vw;
      background: url("./imgs/cross.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      nav {
         display: inline-flex;
         width: 101.5vw;
         height: 15vh;
         position: sticky;
         left: 0;
         top: 0;
         background-color: rgba(255, 255, 255, 0.4);
         border:  none;
         z-index: 5;
         .expand {
            color: black;
            font-size: 40px;
            margin-top: 2.5%;
            position: absolute;
            right: 5%;
            &:hover {
               cursor: pointer;
            }
         }
         h2 {
            display: inline-flex;
            margin-top: 5%;
            position: absolute;
            left: 5%;
         }
         ul {
            visibility: hidden;
            list-style: none;
            margin-top: 35.3vh;
            width: 101vw;
            display: inline;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.4);
            border: none;
            border-bottom: 2px solid rgba(0, 0, 0, 0.5);
            a {
               color: black;
               text-decoration: none;
               li {
                  margin-top: 3px;
                  font-size: 15px;
                  margin-left: -1%;
                  color: black;
               }
            }
         }
      }
      .welcome {
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 2vh;
         text-align: center;
         border-radius: 17px;
         border: 2px solid rgba(245, 245, 245, 0.3);
         .welcomeheader {
            color: white;
            margin-top: -15vh;
            font-size: 45px;
            position: relative;
         }
         .nameheader {
            color: rgb(240, 240, 240);
            font-size: 30px;
            margin-top: -3vh;
            position: relative;
         }
         img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
         }
      }
      .mainservices {
         background: white;
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         display: inline-flex;
         flex-wrap: wrap;
         h3 {
            font-size: 35px;
            margin-left: 12px;
            margin-top: 8px;
            width: 90%;
            font-family: "Times New Roman", Times, serif;
         }
         .sundayschool {
            margin-top: -10.5%;
            width: 48%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .secondservice {
            margin-top: -10.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event1 {
            margin-top: -5.5%;
            width: 48%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event2 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
      }
      .youngadults {
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 22%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .men {
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 22%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .woman {
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 22%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .seniors {
         height: 50vh;
         width: 95vw;
         margin-left: 3.5vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 22%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      footer {
         width: 100vw;
         height: 15vh;
         margin-left: 1vw;
         margin-top: 5vh;
         background-color: black;
         color: white;
      }
   }

   body::-webkit-scrollbar {
      display: none;
   }
   body {
      scrollbar-width: none; /* Firefox */
   }
}

@media only screen and (min-width: 769px) {
   html {
      background-color: black;
   }

   body {
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: hidden; /* Firefox 64 */
      width: 101%;
      position: absolute;
      left: -1vw;
      top: -1vw;
      background: url("./imgs/cross.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-flex;
      flex-wrap: wrap;
      nav {
         display: inline-flex;
         width: 101vw;
         height: 10%;
         position: sticky;
         left: 0;
         top: 0;
         background-color: rgba(255, 255, 255, 0.4);
         border: 2px solid rgba(0, 0, 0, 0.5);
         z-index: 2000;
         .expand {
            display: none;
         }
         h2 {
            width: 50%;
            display: inline-flex;
            margin-top: 1%;
            position: absolute;
            left: 3%;
         }
         ul {
            width: 50%;
            display: inline-flex;
            visibility: visible;
            list-style: none;
            margin-top: 1%;
            position: relative;
            right: -60%;
            background: transparent;
            border: none;
            a {
               color: black;
               text-decoration: none;
               li {
                  width: 88px;
                  color: black;
                  margin-left: 5px;
                  &#wom {
                     width: 108px;
                  }
                  &#sen {
                     width: 100px;
                  }
               }
            }
         }
      }
      .welcome {
         height: 60vh;
         width: 95vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 2vh;
         text-align: center;
         .welcomeheader {
            color: white;
            margin-top: -50vh;
            font-size: 50px;
            position: relative;
         }
         .nameheader {
            color: rgb(240, 240, 240);
            font-size: 50px;
            margin-top: 27vh;
            position: relative;
         }
         img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
         }
      }
      .mainservices {
         background: white;
         height: 50vh;
         width: 95vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         display: inline-flex;
         flex-wrap: wrap;
         h3 {
            font-size: 45px;
            margin-left: 12px;
            margin-top: 8px;
            width: 100%;
            font-family: "Times New Roman", Times, serif;
         }
         .sundayschool {
            margin-top: -8%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .secondservice {
            margin-top: -8%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event1 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event2 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
      }
      .youngadults {
         height: 50vh;
         width: 45vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 23%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .men {
         height: 50vh;
         width: 45vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 23%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .woman {
         height: 50vh;
         width: 45vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 23%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      .seniors {
         height: 50vh;
         width: 45vw;
         margin-left: 4vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 23%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 28%;
            color: yellow;
         }
      }
      footer {
         width: 100vw;
         height: 15vh;
         margin-left: 1vw;
         margin-top: 5vh;
         background-color: black;
         color: white;
      }
   }

   body::-webkit-scrollbar {
      display: none;
   }
   body {
      scrollbar-width: none; /* Firefox */
   }
}

@media only screen and (min-width: 1024px) {
   html {
      background-color: black;
   }

   body {
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: hidden; /* Firefox 64 */
      width: 101%;
      position: absolute;
      left: -1vw;
      top: -1vw;
      background: lightgray;
      background: url("./imgs/cross.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-flex;
      flex-wrap: wrap;
      nav {
         display: inline-flex;
         width: 101vw;
         height: 10%;
         position: sticky;
         left: 0;
         top: 0;
         background-color: rgba(255, 255, 255, 0.4);
         border: 2px solid rgba(0, 0, 0, 0.5);
         z-index: 2000;
         .expand {
            display: none;
         }
         h2 {
            width: 50%;
            display: inline-flex;
            padding-right: 18%;
            margin-top: 2.5vh;
            position: absolute;
            left: 1%;
         }
         ul {
            width: 50%;
            display: inline-flex;
            visibility: visible;
            list-style: none;
            position: absolute;
            top: 5vh;
            left: 30%;
            background: red;
            a {
               color: black;
               text-decoration: none;
               margin-top: 5vh;
               li {
                  margin-left: 20px;
                  color: black;
               background: red;
               }
            }
         }
      }
      .welcome {
         height: 90vh;
         width: 98vw;
         margin-left: 1.5vw;
         margin-right: 1vw;
         margin-top: 2vh;
         text-align: center;
         .welcomeheader {
            color: white;
            margin-top: -65vh;
            font-size: 75px;
            position: relative;
         }
         .nameheader {
            color: rgb(240, 240, 240);
            font-size: 70px;
            margin-top: 25vh;
            position: relative;
         }
         img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
         }
      }
      .mainservices {
         background: white;
         width: 45vw;
         height: 25vw;
         margin-left: 1.5vw;
         margin-top: 1vh;
         border-radius: 20px;
         display: inline-flex;
         flex-wrap: wrap;
         h3 {
            font-size: 45px;
            margin-left: 12px;
            margin-top: 8px;
            width: 70%;
            font-family: "Times New Roman", Times, serif;
         }
         .sundayschool {
            margin-top: -8.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .secondservice {
            margin-top: -8.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event1 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event2 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 25px;
               margin-left: 15px;
            }
            .time {
               font-size: 20px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
      }
      .youngadults {
         width: 51vw;
         height: 27vw;
         margin-left: 2vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 43%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 53%;
            color: rgb(236, 225, 225);
         }
      }
      .men {
         width: 47vw;
         height: 35vw;
         margin-left: 1.2vw;
         margin-top: -2vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 30%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 40%;
            color: rgb(236, 225, 225);
         }
      }
      .woman {
         width: 50.5vw;
         height: 33.5vw;
         margin-left: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 33%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 43%;
            color: rgb(236, 225, 225);
         }
      }
      footer {
         width: 100vw;
         height: 15vh;
         margin-left: 1vw;
         margin-top: 5vh;
         background-color: black;
         color: white;
      }
   }

   body::-webkit-scrollbar {
      display: none;
   }
   body {
      scrollbar-width: none; /* Firefox */
   }
}

@media only screen and (min-width: 1200px) {
   html {
      background-color: black;
   }

   body {
      -ms-overflow-style: none; /* IE 11 */
      scrollbar-width: hidden; /* Firefox 64 */
      width: 102%;
      position: absolute;
      left: -1vw;
      top: -1vw;
      background: lightgray;
      background: url("./imgs/cross.jfif");
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-flex;
      flex-wrap: wrap;
      nav {
         display: inline-flex;
         height: 10vh;
         position: absolute;
         left: 0;
         top: 0;
         background-color: rgba(255, 255, 255, 0.4);
         border: 2px solid rgba(0, 0, 0, 0.5);
         z-index: 2000;
         .expand {
            display: none;
         }
         h2 {
            width: 50%;
            display: inline-flex;
            margin-left: 2%;
            margin-top: 2.5vh;
            padding-right: 18%;
            position: absolute;
            left: 1%;
         }
         ul {
            width: 50%;
            display: inline-flex;
            visibility: visible;
            list-style: none;
            margin-left: 20%;
            a {
               color: black;
               text-decoration: none;
               li {
                  margin-left: 18px;
                  color: black;
               }
            }
         }
      }
      .welcome {
         height: 90vh;
         width: 98vw;
         margin-left: 2vw;
         margin-right: 1vw;
         margin-top: 2vh;
         text-align: center;
         .welcomeheader {
            color: white;
            margin-top: -65vh;
            font-size: 75px;
            position: relative;
         }
         .nameheader {
            color: rgb(240, 240, 240);
            font-size: 70px;
            margin-top: 22vh;
            position: relative;
         }
         img {
            height: 100%;
            width: 100%;
            border-radius: 15px;
         }
      }
      .mainservices {
         background: white;
         width: 47.5vw;
         height: 30vw;
         margin-left: 2vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         display: inline-flex;
         flex-wrap: wrap;
         h3 {
            font-size: 45px;
            margin-left: 12px;
            margin-top: 8px;
            width: 100%;
            font-family: "Times New Roman", Times, serif;
         }
         .sundayschool {
            margin-top: -8.5%;
            width: 50%;
            h2 {
               font-size: 30px;
               margin-left: 15px;
            }
            .time {
               font-size: 25px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .secondservice {
            margin-top: -8.5%;
            width: 50%;
            h2 {
               font-size: 30px;
               margin-left: 15px;
            }
            .time {
               font-size: 25px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event1 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 30px;
               margin-left: 15px;
            }
            .time {
               font-size: 25px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
         .event2 {
            margin-top: -5.5%;
            width: 50%;
            h2 {
               font-size: 30px;
               margin-left: 15px;
            }
            .time {
               font-size: 25px;
               font-weight: 100;
               margin-top: -12px;
               margin-left: 19px;
            }
         }
      }
      .youngadults {
         width: 47.5vw;
         height: 30vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 18%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 23%;
            color: yellow;
         }
      }
      .men {
         width: 47.5vw;
         height: 27vw;
         margin-left: 2vw;
         margin-right: 2vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 21%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 27%;
            color: yellow;
         }
      }
      .woman {
         width: 47.5vw;
         height: 27vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 21%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 27%;
            color: yellow;
         }
      }

      .seniors {
         width: 98vw;
         height: 30vw;
         margin-left: 2vw;
         margin-right: 1vw;
         margin-top: 1vh;
         border-radius: 20px;
         // display: inline-flex;
         // flex-wrap: wrap;
         img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
         h2 {
            font-size: 35px;
            margin-left: 5px;
            color: white;
            position: relative;
            bottom: 18%;
         }
         .time {
            font-size: 25px;
            font-weight: 100;
            margin-left: 9px;
            position: relative;
            bottom: 22%;
            color: yellow;
         }
      }

      footer {
         width: 100vw;
         height: 15vh;
         margin-left: 1vw;
         margin-top: 5vh;
         background-color: black;
         color: white;
      }
   }

   body::-webkit-scrollbar {
      display: none;
   }
   body {
      scrollbar-width: none; /* Firefox */
   }
}
